* {
  margin: 0;
}

html {
  width: 100%;
  -webkit-overflow-x: hidden;
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: "roboto", sans-serif;
}

.logo {
  width: 36vmax;
  height: auto;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
}

#search {
  text-align: center;
  background-color: #f6f6f6;
}
#search form .search__searchfield {
  margin: 15px;
  border: none;
  background-color: transparent;
}
#search .search__title {
  font-size: 1.55rem;
  margin: 30px 30px 15px 30px;
}
#search .search__subtitle {
  font-size: 1rem;
  font-weight: normal;
  margin: 30px 10px 15px 10px;
}
#search .search__btn {
  border: none;
  border-radius: 25px;
  padding: 15px;
  color: #ffffff;
  font-weight: bold;
  margin: 20px 10px 40px 10px;
  box-shadow: 4px 2px 20px #c9c9c9;
  background: linear-gradient(177deg, #ff79da 10%, #9356dc 90%);
}

#fonctionnement h2 {
  margin: 40px 20px;
}
#fonctionnement ol {
  width: 90%;
  list-style-type: none;
  counter-reset: liste-couleur;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: auto;
}
#fonctionnement ol li {
  width: 88%;
  background-color: #f6f6f6;
  box-shadow: 4px 2px 20px #c9c9c9;
  padding: 25px;
  border-radius: 25px;
  margin: 10px;
  font-size: 0.95rem;
  position: relative;
}
#fonctionnement ol li::before {
  content: counter(liste-couleur);
  counter-increment: liste-couleur;
  color: #ffffff;
  font-weight: bolder;
  background-color: #9356dc;
  border-radius: 50px;
  padding: 5px 9px;
  position: absolute;
  left: -4vw;
  top: 6vw;
}
#fonctionnement .fas {
  padding: 0 14px 0 8px;
}

.restaurants {
  padding-top: 10px;
  background-color: #f6f6f6;
}
.restaurants h2 {
  margin: 40px 10px 10px 20px;
}
.restaurants .container {
  width: 100%;
  padding-bottom: 40px;
  margin: auto;
}
.restaurants .container h3 {
  font-size: 1.1rem;
  margin: 8px 20px 0px 15px;
}
.restaurants .container p {
  font-size: 1rem;
  margin: 5px 20px 0px 15px;
}
.restaurants .far {
  position: absolute;
  bottom: 7vw;
  right: 8vw;
  font-size: 1.5rem;
}
.restaurants .fas {
  position: absolute;
  bottom: 7vw;
  right: 8vw;
  font-size: 1.5rem;
  opacity: 0;
}
.restaurants .boxrestaurant {
  position: relative;
  width: 85%;
  height: 70vw;
  margin: auto;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 4px 2px 20px #c9c9c9;
}
.restaurants .imagerestaurant {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

footer {
  padding: 20px;
  background-color: #353535;
}
footer h4 {
  color: #ffffff;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
footer ul li a {
  color: #ffffff;
}
footer ul li .fas {
  margin-right: 10px;
}

@media screen and (min-width: 600px) {
  #search .search__subtitle {
    margin: 30px 100px;
  }

  #fonctionnement::before {
    background-color: red;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .boxrestaurant {
    width: 42%;
    height: 36vw;
    margin: 10px 15px;
  }
  .container .far {
    bottom: 3vw;
    right: 4vw;
  }
}

/*# sourceMappingURL=style.css.map */
