// Utils :
//     Variables.
//     Fonctions.
//     Mixins.
// Placeholders.
// Feuilles de style de tiers (vendors) (si vous en avez).
// Base.
// Composants.
// Layout.
// Pages.
// Thèmes.

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations";

@import "./base/base";

@import "./composants/loader";
@import "./composants/buttons";

@import "./layout/header";
@import "./layout/container";
@import "./layout/footer";

@media screen and (min-width: 425px) {
  #fonctionnement {
    & ol li::before {
      left: -2.5vw;
      top: 4.1vw;
    }
  }
}

@media screen and (min-width: 600px) {
  #search .search__subtitle {
    margin: 30px 100px;
  }
  #fonctionnement {
    & ol li::before {
      left: -2vw;
      top: 3.5vw;
    }
  }
  #background-image {
    object-fit: cover;
    height: 250px;
  }
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .boxrestaurant {
      width: 42%;
      height: 36vw;
      margin: 10px 15px;
    }
    & .far {
      bottom: 3vw;
      right: 4vw;
    }
  }
}

@media screen and (min-width: 734px) {
  .menucomplet {
    display: flex;
    & .menu {
      width: 33%;
    }
  }
  .restaurants {
    & .boxrestaurant {
      & input {
        bottom: 3.9vw;
        right: 4.9vw;
      }
    }
    & label {
      bottom: 2.7vw;
      right: 4vw;
    }
    & .like {
      padding-top: 20px;
    }
  }
}
@media screen and (min-width: 768px) {
  #fonctionnement {
    & ol li::before {
      left: -2vw;
      top: 2.5vw;
    }
  }
  .restaurants {
    & .boxrestaurant {
      & input {
        bottom: 31px;
        right: 37px;
      }
    }
    & label {
      bottom: 20px;
      right: 31px;
    }
  }
}

@media screen and (min-width: 1024px) {
  #fonctionnement {
    & ol li::before {
      left: -1.5vw;
      top: 2vw;
    }
  }
  .restaurants {
    & .boxrestaurant {
      height: 28vw;
      & input {
        bottom: 3.9vw;
        right: 4.6vw;
      }
    }
    & label {
      bottom: 2.6vw;
      right: 4vw;
    }
  }
  footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  #fonctionnement {
    margin-right: 40px;
    float: right;
    width: 27%;
    & ol {
      margin-right: 40px;
      & li::before {
        left: -1vw;
        top: 1.5vw;
      }
    }
  }
  #background-image {
    object-fit: cover;
    height: 350px;
  }
  .restaurants {
    padding: 0;
    width: 68%;
    background-color: initial;
    & .boxrestaurant {
      & input {
        bottom: 30px;
        right: 31px;
      }
    }
    & label {
      bottom: 20px;
      right: 24px;
    }
    & .like {
      padding-top: 20px;
    }
  }
  .restaurants__cards {
    justify-content: space-evenly;
    & .boxrestaurant {
      margin: 20px 0;
      width: 35%;
      height: 20vw;
      flex-wrap: wrap;
    }
    & .far {
      bottom: 2vw;
      right: 2vw;
    }
  }
}
@media screen and (min-width: 1440px) {
  .restaurants {
    h2 {
      font-size: 1.9rem;
    }
    & .boxrestaurant {
      & input {
        bottom: 2.5vw;
        right: 2.4vw;
      }
      & h3 {
        font-size: 1.3rem;
      }
      & p {
        font-size: 1.2rem;
      }
    }
    & label {
      bottom: 1.75vw;
      right: 2vw;
    }
  }
  #search {
    & form {
      & .search__searchfield {
        width: 15vw;
        padding: 2vw 2vw;
        font-size: 1.2rem;
      }
    }
    & .search__title {
      font-size: 1.9rem;
    }
    & .search__subtitle {
      font-size: 1.25rem;
    }
    & .search__btn {
      font-size: 1.1rem;
    }
  }
  #fonctionnement {
    & h2 {
      font-size: 1.9rem;
    }
    & ol {
      & li {
        width: 100%;
        font-size: 1.18rem;
        &::before {
          padding: 5px 11px;
          left: -1vw;
          top: 1.5vw;
        }
      }
    }
  }
  #menudetail {
    & .coeur--empty {
      bottom: 1.7vw;
      right: 5vw;
      font-size: 1.9rem;
    }
    & input {
      position: absolute;
      bottom: 2.4vw;
      right: 5.6vw;
    }
    & input:checked + label {
      opacity: 1;
    }
    & label {
      font-size: 1.9rem;
      bottom: 1.5vw;
      right: 5vw;
    }
  }
  header {
    & .arrow {
      font-size: 1.5rem;
    }
  }
  .main__title {
    font-size: 2rem;
    margin: 25px 20px 15px 30px;
  }
  .menu {
    & .menu__title {
      font-size: 1.3rem;
      margin: 30px;
    }
    & .option1,
    .option2,
    .option3,
    .option4 {
      width: 87%;
      height: 70px;
      & .checkicon {
        font-size: 24px;
        margin: 7px 0;
      }
    }
    & .menu__content {
      & h3,
      p {
        font-size: 1.2rem;
      }
    }
    & .price {
      font-size: 1.15rem;
    }
  }
  #btn--commander {
    font-size: 1.1rem;
  }
}
