// homepage
header {
  display: flex;
  & .logo-home {
    width: 64vmin;
    margin: auto;
    padding: 18px;
  }
}

// menu
header {
  & a {
    margin: auto;
    margin-left: 12px;
  }
  & .logo-menu {
    width: 64vmin;
    margin: auto;
    padding: 18px;
    padding-left: 0;
    margin-left: 0;
  }
}
