@mixin loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light;
  opacity: 1;
  z-index: 9999;
  position: fixed;
  -webkit-animation: fade 3s ease-in-out forwards;
  animation: fade 3s ease-in-out forwards;
}
@mixin loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 5px solid $color-tertiary;
  border-top-color: $color-primary;
  border-bottom-color: $color-primary;
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: loading 3s ease-in-out forwards;
  animation: loading 3s ease-in-out forwards;
}
@mixin loader-inner {
  width: 90%;
  height: 90%;
  border: 5px solid $color-tertiary;
  border-top-color: $color-primary;
  border-bottom-color: $color-primary;
  border-radius: 50%;
  opacity: 1;
  z-index: 9999;
  -webkit-animation: loading 3s ease-in-out forwards;
  animation: loading 3s ease-in-out forwards;
}
@mixin box-shadow($colour: $color-shadow) {
  box-shadow: 3px 3px 10px $colour;
}

@mixin box-shadow--dark($colour: $color-shadow--dark) {
  box-shadow: 3px 3px 10px $colour;
}

@mixin like {
  .like {
    position: relative;
    &:hover label {
      opacity: 1;
      transition: 1s;
    }
  }
}
@mixin search__btn {
  cursor: pointer;
  opacity: 0.8;
  border: none;
  border-radius: 25px;
  padding: 16px 20px;
  color: $color-light;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 20px 10px 40px 10px;
  background: linear-gradient(177deg, $color-secondary 10%, $color-primary 90%);
  @include box-shadow;
  &:hover {
    opacity: 0.65;
    transition: 0.3s;
    @include box-shadow--dark;
    transition: 0.3s;
  }
}
@mixin btn--commander {
  cursor: pointer;
  opacity: 0.8;
  border: none;
  border-radius: 25px;
  padding: 16px 50px;
  color: $color-light;
  font-weight: bold;
  font-size: 0.95rem;
  margin: 40px auto 40px auto;
  display: block;
  background: linear-gradient(177deg, $color-secondary 10%, $color-primary 90%);
  @include box-shadow;
  &:hover {
    opacity: 0.65;
    transition: 0.3s;
    @include box-shadow--dark;
  }
}
