$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$backgroundcolor-main: #f6f6f6;
// $backgroundcolor-dark: darken ($backgroundcolor-main, 4.71%);
// $backgroundcolor-darker: darken ($backgroundcolor-main, 13.73%);
$backgroundcolor-footer: #353535;
$color-textlight: #ffffff;
$color-shadow: #c9c9c9;
